<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/vans.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tênis Vans</h5>
            <p class="card-text">Classic Slip-On</p>
            <a href="#" class="btn btn-primary container-fluid bg-black">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/vans-dois.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tênis Vans</h5>
            <p class="card-text">Old School</p>
            <a href="#" class="btn btn-primary container-fluid bg-black">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/vans-tres.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tênis Vans</h5>
            <p class="card-text">Old School Green</p>
            <a href="#" class="btn btn-primary container-fluid bg-black">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/vans-quatro.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Tênis Vans</h5>
            <p class="card-text">Authentic Classic Red</p>
            <a href="#" class="btn btn-primary container-fluid bg-black">Comprar</a>
        </div>
    </div>
</div>